@page "/transaction/kiosk"
@rendermode InteractiveServer
<PageTitle>McDermott - Transaction Kiosk</PageTitle>

<div class="wrapper">
    <McDermott.Web.Components.Layout.BaseContentHeaderLayout Title="Kiosk" />
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header"></div>
                        <div class="card-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
