@page "/transaction/print-document-medical/{IdEncrypt}"

@rendermode InteractiveServer

<PageTitle>@Helper.APP_NAME - Print Document Medical</PageTitle>

<div class="wrapper">
    <BaseHeaderPage Title="Print Document Medical" OnClickBack="@(async () => await LoadData())" ShowBackButton="false" />
        <div class="wrapper">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header"><h1>@Ids</h1></div>
                                <div class=" card-body">
                                     @* <EditForm Model="@postGenerateMedicalcertificates" Context="EditFormConter"  *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
