<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @*  < link rel="stylesheet" href="bootstrap/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="app.css" />
    @*     <link rel="stylesheet" href="McDermott.styles.css" />
    *@
    <link rel="icon" type="image/png" href="https://www.ikariera.cz/uploads/companies/file/28129/22192/17871/c1c103e1-56b0-45cf-b02d-f6acbc7276b8/Logo%20-%20mcdermott_symbol_color%20500x500%2C%2050hrana.png" />

    <!-- Google Font: Source Sans Pro -->
    @*  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"> *@
    <!-- Font Awesome -->
    @* <link rel="stylesheet" href="AdminLTE/plugins/fontawesome-free/css/all.min.css"> *@
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/AdminLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/AdminLTE/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/AdminLTE/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/AdminLTE/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/AdminLTE/plugins/summernote/summernote-bs4.min.css">

    <link rel="stylesheet" href="/fontawesome/css/all.css" />
    @* <link rel="stylesheet" href="_content/DevExpress.Blazor.RichEdit/dx-blazor-richedit.bs5.css" /> *@

    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">

    @*...*@
    @* Bootstrap 5 *@
    @* <link href="_content/DevExpress.Blazor.Themes/office-white.bs5.min.css" asp-append-version="true" rel="stylesheet" /> *@
    @* Bootstrap 4 *@
    <link href="css/switcher-resources/themes/lumen/bootstrap.min.css" asp-append-version="true" rel="stylesheet" />

    <link rel="stylesheet" href="_content/DevExpress.Blazor.Themes/bootstrap-external.bs5.min.css" />
    @* bootstrap-external for Bootstrap 4 *@
    @* <link rel="stylesheet" href="_content/DevExpress.Blazor.Themes/bootstrap-external.bs4.min.css" /> *@
    @*...*@

    @* Blazor Bootstrap *@

    <link href="McDermott.Web.styles.css" rel="stylesheet">

    @DxResourceManager.RegisterScripts()

    <HeadOutlet @rendermode="InteractiveServer" />

    <style>
        .loading-panel-container {
            position: relative;
            height: 60vh; /* Menggunakan tinggi viewport untuk mengisi seluruh tinggi layar */
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
        }

        .custom-width-grid-popup {
            min-width: 800px;
            max-width: 1000px;
        }

        .loading-panel {
            position: absolute;
        }

        .highlighted-item > td {
            background-color: rgba(245, 198, 203, 0.5);
        }

        .alt-item > td {
            background-color: rgba(0, 0, 0, 0.05);
        }

        .header-bold span {
            font-weight: 700;
        }

        .normal-caption {
            font-weight: normal !important;
        }

        .mt {
            margin-top: 3px;
        }

        .ml {
            margin-left: 3px;
        }

        .required-caption:after {
            content: ' *';
            color: red;
        }

        .pop-warning:hover::after {
            content: "*Form ini wajib di isi";
            position: fixed;
            color: #EF0F0F;
            font-style: italic;
            border-radius: 5px;
            margin-top: 2px;
            margin-left: 5px;
            white-space: nowrap;
            z-index: 1;
        }

        .no-underline {
            text-decoration: none;
        }

        .required-caption:hover .pop-warning {
            display: block;
        }

        .breadcrumb-item {
            border: none !important;
            box-shadow: none !important;
        }

        .breadcrumb {
            border: none !important;
            box-shadow: none !important;
        }

        .invalid {
            outline: 1px solid #e50000;
        }

        .validation-message {
            color: #e50000;
        }

        .sticky-section {
            position: -webkit-sticky;
            position: sticky;
            top: 56px; /* Adjust this value according to your navbar height */
            z-index: 1000; /* Ensure the section appears above the navbar */
        }
    </style>
</head>

@* <body class="hold-transition sidebar-mini  layout-fixed hold-transition white-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed"> *@
<body class="hold-transition sidebar-mini sidebar-collapse layout-navbar-fixed layout-footer-fixed layout-fixed">
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="_content/Blazored.TextEditor/quill-blot-formatter.min.js"></script>
    <script src="_content/Blazored.TextEditor/Blazored-BlazorQuill.js"></script>

    <script>
        window.BlazorDownloadFileExample = (fileName) => {
            const anchor = document.createElement('a');
            anchor.setAttribute('download', fileName);
            anchor.setAttribute('href', URL.createObjectURL(new Blob([], { type: 'application/octet-stream' })));
            anchor.style.display = 'none';
            document.body.appendChild(anchor);
            anchor.click();
            document.body.removeChild(anchor);
        };

        window.BlazorDownloadFile = async (fileName) => {
            const response = await fetch(`/${fileName}`);
            const blob = await response.blob();
            const url = window.URL.createObjectURL(blob);
            const anchor = document.createElement('a');
            anchor.href = url;
            anchor.download = fileName;
            anchor.style.display = 'none';
            document.body.appendChild(anchor);
            anchor.click();
            window.URL.revokeObjectURL(url);
            document.body.removeChild(anchor);
        };

        // wwwroot/js/fileUtils.js
        window.downloadFile = ({ fileName, content }) => {
            const byteCharacters = atob(content);
            const byteNumbers = new Array(byteCharacters.length);
            for (let i = 0; i < byteCharacters.length; i++) {
                byteNumbers[i] = byteCharacters.charCodeAt(i);
            }
            const byteArray = new Uint8Array(byteNumbers);

            const blob = new Blob([byteArray]);

            const link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = fileName;

            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        };

        window.hideSideBarr = function () {
            var l = document.getElementById("hal");
            l.click();
        }

        window.setCookie = function (name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        };

        window.clearAllCookies = function () {
            var cookies = document.cookie.split(";");

            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i];
                var eqPos = cookie.indexOf("=");
                var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
            }
        };

        window.getCookie = function (name) {
            var nameEQ = name + "=";
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i];
                while (cookie.charAt(0) == ' ') {
                    cookie = cookie.substring(1, cookie.length);
                }
                if (cookie.indexOf(nameEQ) == 0) {
                    return cookie.substring(nameEQ.length, cookie.length);
                }
            }
            return null;
        };

        window.deleteCookie = function (name) {
            // document.cookie = name + '=; Max-Age=-99999999;';
            document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';

        };

        window.updateCookie = function (name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        };

        window.downloadFileFromStream = async (fileName, contentStreamReference) => {
            const arrayBuffer = await contentStreamReference.arrayBuffer();
            const blob = new Blob([arrayBuffer]);
            const url = URL.createObjectURL(blob);
            const anchorElement = document.createElement('a');
            anchorElement.href = url;
            anchorElement.download = fileName ?? '';
            anchorElement.click();
            anchorElement.remove();
            URL.revokeObjectURL(url);
        }

        window.clickInputFile = function (key) {
            document.getElementById(key).click();
        }

        window.BlazorHelpers = {
            setTimeout: function (callback, timeout) {
                return setTimeout(callback, timeout);
            }
        };

        window.blazorLocalStorage = {
            getItem: function (key) {
                return localStorage.getItem(key);
            },
            setItem: function (key, value) {
                localStorage.setItem(key, value);
            },
            removeItem: function (key) {
                localStorage.removeItem(key);
            }
        };

        window.saveAsFile = function (fileName, byteBase64) {
            var link = document.createElement('a');
            link.download = fileName;
            link.href = 'data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,' + byteBase64;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        };

    </script>

    <!-- jQuery -->
    <script src="/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/AdminLTE/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="/AdminLTE/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/AdminLTE/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="/AdminLTE/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/AdminLTE/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/AdminLTE/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/AdminLTE/plugins/moment/moment.min.js"></script>
    <script src="/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/AdminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="/AdminLTE/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/AdminLTE/dist/js/adminlte.js"></script>

    @* <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> *@
    @* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script> *@
    @* <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> *@

    @*  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
    .progress {
    height: 40px;
    }

    .progress-bar {
    text-align: center;
    line-height: 40px;
    }

    .step {
    display: none;
    }

    .step.active {
    display: block;
    }
    </style> *@

    @*  <script>
    function nextStep(step) {
    $(".step" + step).removeClass("active");
    $(".progress-bar:nth-child(" + step + ")").css("width", (step * 33.33) + "%");
    $(".step" + (step + 1)).addClass("active");
    }

    function prevStep(step) {
    $(".step" + step).removeClass("active");
    $(".progress-bar:nth-child(" + step + ")").css("width", ((step - 1) * 33.33) + "%");
    $(".step" + (step - 1)).addClass("active");
    }

    function finish() {
    alert("Process completed!");
    }
    </script> *@
</body>
</html>