@page "/awerenessEvent/Educationpage/"
@rendermode InteractiveServer

@if (IsAccess)
{
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
