@page "/queue/viewdisplay/{DisplayId:long}"
@page "/queue/viewdisplay/"
@rendermode InteractiveServer

<PageTitle>McHealthCare - View Display</PageTitle>

<div class="wrapper">
    <section class="cx">
        <div class="row">
            <div class="headerx">
                <div class="col-sm-2">
                    <div class="logo">
                        <img src="image/logo.png" alt="Logo McDermott Indonesia" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="title">
                        <h1>KLINIK PRATAMA</h1>
                        <h2>PT.McDERMOTT INDONESIA</h2>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row justify-content-end">
                        <div class="col-md-4"><div class="days">@daysNow<br /><span>@datesNow</span></div></div>
                        <div class="col-md-6">
                            <div class="time" id="currentTime">@currentTime</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

<script>
    window.openFullScreen = function () {
        if (document.fullscreenElement) {
            document.exitFullscreen();
        } else {
            document.documentElement.requestFullscreen().catch((err) => {
                console.log(`Error attempting to enable full-screen mode: ${err.message} (${err.name})`);
            });
        }
    };
</script>