@inject NavigationManager NavigationManager
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active"><a href="@currentUrl">@Title</a>  </li>
                </ol>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public string Title { get; set; } = "Title";
    private string currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.Uri;
    }

}