<section class="content-wrapper">
    <DxLoadingPanel IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                    CssClass="loading-panel"
                    IndicatorVisible="true"
                    IndicatorAreaVisible="true"
                    Visible="true"
                    Text="Processing..."
                    TextAlignment="LoadingPanelTextAlignment.Right">
        <div style="min-height: 50px;"></div>
    </DxLoadingPanel>
</section> 

<style>
    .tengah {
        -ms-flex-align: center;
        align-items: center; 
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column; 
        -ms-flex-pack: center;
        justify-content: center;
    }
</style>