@using McHealthCare.Web.Components.Account.Shared
<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not Found</PageTitle>
        <LayoutView Layout="@(typeof(Layout.MainLayout))">
            <div class="full-height">
                <div class="page-not-found">
                    <span class="error-icon"></span>
                    <p>The page you requested was not found</p>
                </div>
            </div>
        </LayoutView>
        <!-- Tambahkan pesan sementara Not Found di bawah -->
        <h1>Not Found</h1>
    </NotFound>
</Router>
