.loading-panel-container {
    position: relative;
    height: 60vh; /* Menggunakan tinggi viewport untuk mengisi seluruh tinggi layar */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.custom-width-grid-popup {
    min-width: 800px;
    max-width: 1000px;
}

.loading-panel {
    position: absolute;
}

.highlighted-item > td {
    background-color: rgba(245, 198, 203, 0.5);
}

.alt-item > td {
    background-color: rgba(0, 0, 0, 0.05);
}

.header-bold span {
    /* font-weight: 700; */
}

.normal-caption {
    font-weight: normal !important;
}

.mt {
    margin-top: 3px;
}

.ml {
    margin-left: 3px;
}

.required-caption:after {
    content: ' *';
    color: red;
}

.pop-warning:hover::after {
    content: "*Form ini wajib di isi";
    position: fixed;
    color: #EF0F0F;
    font-style: italic;
    border-radius: 5px;
    margin-top: 2px;
    margin-left: 5px;
    white-space: nowrap;
    z-index: 1;
}

.no-underline {
    text-decoration: none;
}

.required-caption:hover .pop-warning {
    display: block;
}

.breadcrumb-item {
    border: none !important;
    box-shadow: none !important;
}

.breadcrumb {
    border: none !important;
    box-shadow: none !important;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 60px;
    z-index: 1;
}

.dxbl-tabs {
    display: inline !important;
    border-top: 1px !important;
}

/* .dxbl-btn-standalone.dxbl-btn-primary {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            border-radius: 13px !important;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        } */

.rounded-button .dxbl-toolbar-item {
    border-radius: 50px;
    transition: background-color 0.3s;
}

    .rounded-button .dxbl-toolbar-item:hover {
        background-color: #f0f0f0;
    }

    .rounded-button .dxbl-toolbar-item:active {
        background-color: #e0e0e0;
    }

.btn-icon-undo {
    width: 5em;
    height: 2em;
    opacity: 0.8;
}

.btn-icon-redo {
    width: 6em;
    height: 2em;
    opacity: 0.8;
}

.btn-icon-draft {
    width: 8em;
    height: 2em;
    opacity: 0.8;
}

.dxbl-btn-standalone {
    border-radius: 10px !important;
    padding-inline-start: 25px !important;
    padding-inline-end: 25px !important;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.3) !important;
}

.dxbl-tabs > .dxbl-tabs-tablist > .dxbl-scroll-viewer > .dxbl-scroll-viewer-content > ul > li > .dxbl-tabs-item:not(.dxbl-tabs-tmpl):not(.dxbl-disabled):not(:disabled).dxbl-active {
    background-color: rgb(10, 172, 200 ) !important;
    color: white !important;
    font-weight: bolder;
    border: 1px solid;
    box-shadow: rgba(0,2, 5, 0.24) 1px 3px 8px;
}

.dxbl-tabs-item {
    border-radius: 20px !important;
}

.dxbl-tabs > .dxbl-tabs-tablist {
    border-radius: 20px !important;
}

.dxbl-scroll-viewer > .dxbl-scroll-viewer-content {
    padding: 3px 0 !important;
}

.drop-file-icon {
    background-size: contain;
    mask-repeat: no-repeat !important;
    -webkit-mask-repeat: no-repeat !important;
    background-position: center center;
    background-color: #ADB5BD;
    width: 48px;
    height: 48px;
    -webkit-mask-image: url("../image/icons/drop-file.svg") !important;
    mask-image: url("../image/icons/drop-file.svg") !important;
}

.drop-file-label {
    font-weight: 500;
    font-size: 1rem;
}

.small-button {
    padding: 2px 8px;
    font-size: 0.8rem;
}

.content-wrappers {
    max-width: 600px; /* Lebar maksimum pada layar besar */
    width: 100%; /* Lebar 100% pada layar kecil */
    overflow-wrap: break-word;
    word-wrap: break-word;
}

    /* Responsif untuk gambar dan video */
    .content-wrappers img,
    .content-wrappers iframe,
    .content-wrappers video {
        max-width: 100%;
        height: auto;
    }


.headerx {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f4f4f4;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.headerx > * {
    flex: 1;
    text-align: center;
}

.headerx .logo {
    justify-content: left;
    align-items: center;
}

    .headerx .logo img {
        max-height: 50px;
        width: auto;
    }

.headerx .title {
    flex-direction: column;
}

    .headerx .title h1 {
        font-size: 1.5rem;
        color: #333;
        font-weight: bold;
    }

    .headerx .title h2 {
        font-size: 1rem;
        color: #777;
    }


.headerx .days {
    font-size: 1rem;
    font-weight: bold;
    color: #0a350a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    text-align: center;
}

.headerx .time {
    font-size: 2.6rem;
    font-weight: bold;
    color: #2a2a2a;
    font-family: 'Cascadia Code';
    font-optical-sizing: auto;
    font-style: normal;
}

.running-text-wrapper {
    width: 100%;
    overflow: hidden;
    background-color: #f8f9fa;
    border-top: 2px solid #dc3545; /* garis merah di atas */
}

.running-text {
    display: inline-block;
    white-space: nowrap;
    animation: scrollText 15s linear infinite;
    font-size: 1.2rem;
    color: #343a40; /* warna teks */
    padding: 10px 0;
}

    .running-text span {
        padding-left: 100%; /* mulai di luar layar */
        display: inline-block;
    }

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.no-gutter {
    --bs-gutter-x: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
/* Background Section */
.cx {
    min-height: 100vh;
    background-image: url('../image/McDermott_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

    .cx::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(64, 75, 107, 0.49);
    }
/* Media query untuk layar kecil */

.custom-card-height {
    height: 40vh; /* Tinggi card menjadi 30% dari tinggi viewport */
}

    /* Opsional: untuk memastikan card tidak overflow */
    .custom-card-height .card-body {
        overflow-y: auto;
    }

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 56.25%; /* Aspect ratio 16:9 */
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


.padding-body {
    padding: 3px !important;
    border-radius: 6px !important;
    background: rgba(64, 75, 107, 0.10) !important;
}

iframe {
    border-radius: 3px !important
}

.ticket-number {
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.ticket-arrow {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.ticket-text {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.text-number-footer {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}


@media (max-width: 768px) {


    .content-wrappers {
        max-width: 100%; /* Menyesuaikan lebar penuh layar kecil */
        padding: 0 15px; /* Memberikan sedikit padding agar tidak terlalu mepet */
    }

    .headerx {
        flex-direction: column;
        text-align: center;
    }

        .headerx > * {
            margin-bottom: 0.5rem;
        }

        .headerx .logo img {
            max-height: 40px;
        }

        .headerx .title h1 {
            font-size: 0.9rem;
        }

        .headerx .title h2 {
            font-size: 0.8rem;
        }

        .headerx .time {
            font-size: 1rem;
        }
}

@media screen and (max-width: 480px) {
    .headerx {
        padding: 0.5rem;
    }

        .headerx .logo img {
            max-height: 30px;
        }

        .headerx .title h1 {
            font-size: 0.8rem;
        }

        .headerx .title h2 {
            font-size: 0.7rem;
        }

        .headerx .time {
            font-size: 0.9rem;
        }
}
