@page "/inventory/goods-receipt"
@rendermode InteractiveServer
<h3>Goods Receipt</h3>

<div class="form-group">
    <label for="location">Search Location:</label>
</div>
<div class="form-group">
    <label for="location">Description:</label>
    <input id="location" type="text" class="form-control" @bind="@location" />
</div>
@code {
    private string Description;

}

@code {
    private string location;
}



<DxGrid Data="Cities">
    <Columns>
        <DxGridSelectionColumn Width = "15px" />
        <DxGridDataColumn MinWidth = "200" FieldName = "Name" SortIndex = "0" />
        <DxGridDataColumn MinWidth = "200" FieldName = "Province.Name" Caption = "Province" />
    </Columns>
</DxGrid>

@code
{
    private List<CityDto> Cities = [];
    protected override async Task OnInitializedAsync()
    {
        Cities = await Mediator.Send(new GetCityQuery());
    }
    
}

        










