USE [master]
GO
/****** Object:  Database [A]    Script Date: Wed, 31 Jan 2024 9:43:59 ******/
CREATE DATABASE [A]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'A', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ITSSB\MSSQL\DATA\A.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'A_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ITSSB\MSSQL\DATA\A_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [A].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [A]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: Wed, 31 Jan 2024 9:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuildingLocations]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuildingLocations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BuildingId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_BuildingLocations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buildings]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buildings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HealthCenterId] [int] NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Code] [nvarchar](200) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Buildings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityId] [int] NULL,
	[ProvinceId] [int] NULL,
	[CountryId] [int] NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](200) NULL,
	[Website] [nvarchar](500) NULL,
	[VAT] [nvarchar](200) NULL,
	[Street1] [nvarchar](max) NULL,
	[Street2] [nvarchar](max) NULL,
	[Zip] [nvarchar](200) NULL,
	[CurrencyId] [int] NULL,
	[Logo] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Code] [nvarchar](5) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CronisCategories]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CronisCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_CronisCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Degrees]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Degrees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Degrees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CompanyId] [int] NULL,
	[DepartmentCategory] [nvarchar](max) NULL,
	[ParentId] [int] NULL,
	[ParentName] [nvarchar](200) NULL,
	[Manager] [nvarchar](max) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnoses]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnoses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[DiseaseCategoryId] [int] NULL,
	[CronisCategoryId] [int] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Diagnoses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiseaseCategories]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiseaseCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[ParentCategory] [nvarchar](max) NULL,
 CONSTRAINT [PK_DiseaseCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CityId] [int] NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Districts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailSettings]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sequence] [int] NULL,
	[Smpt_Debug] [bit] NULL,
	[Smtp_Encryption] [nvarchar](max) NOT NULL,
	[Smtp_Host] [nvarchar](200) NULL,
	[Smtp_Pass] [nvarchar](max) NULL,
	[Smtp_Port] [int] NULL,
	[Smtp_User] [nvarchar](200) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[Description] [nvarchar](300) NULL,
 CONSTRAINT [PK_EmailSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[families]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[families](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Relation] [nvarchar](200) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_families] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Genders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMenus]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMenus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
	[Create] [bit] NULL,
	[Read] [bit] NULL,
	[Update] [bit] NULL,
	[Delete] [bit] NULL,
	[Import] [bit] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_GroupMenus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthCenters]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthCenters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityId] [int] NULL,
	[ProvinceId] [int] NULL,
	[CountryId] [int] NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Street1] [nvarchar](max) NULL,
	[Street2] [nvarchar](max) NULL,
	[WebsiteLink] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_HealthCenters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insurances]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insurances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Code] [nvarchar](5) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[IsBPJS] [bit] NOT NULL,
	[AdminFee] [int] NULL,
	[Presentase] [int] NULL,
	[AdminFeeMax] [int] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Insurances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobPositions]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobPositions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[DepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_JobPositions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[Type] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Icon] [nvarchar](max) NULL,
	[ParentMenu] [nvarchar](max) NULL,
	[Sequence] [int] NULL,
	[Html] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Occupationals]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Occupationals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](300) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Occupationals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Procedures]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Procedures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Code_Test] [nvarchar](100) NULL,
	[Classification] [nvarchar](100) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Procedures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Code] [nvarchar](5) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Provinces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Religions]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Religions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Religions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Code] [nvarchar](5) NOT NULL,
	[Quota] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialities]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[Code] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_Specialities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[RolesId] [int] NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NULL,
	[Name] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[NoRm] [int] NULL,
	[GenderId] [int] NULL,
	[MartialStatus] [nvarchar](max) NULL,
	[PlaceOfBirth] [nvarchar](max) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[TypeId] [nvarchar](max) NULL,
	[NoId] [int] NULL,
	[ExpiredId] [datetime2](7) NULL,
	[IdCardAddress1] [nvarchar](max) NULL,
	[IdCardAddress2] [nvarchar](max) NULL,
	[IdCardCountryId] [int] NULL,
	[IdCardProvinceId] [int] NULL,
	[IdCardCityId] [int] NULL,
	[IdCardDistrictId] [int] NULL,
	[IdCardVillageId] [int] NULL,
	[IdCardRtRw] [nvarchar](max) NULL,
	[IdCardZip] [int] NULL,
	[DomicileAddress1] [nvarchar](max) NULL,
	[DomicileAddress2] [nvarchar](max) NULL,
	[DomicileCountryId] [int] NULL,
	[DomicileProvinceId] [int] NULL,
	[DomicileCityId] [int] NULL,
	[DomicileDistrictId] [int] NULL,
	[DomicileVillageId] [int] NULL,
	[DomicileRtRw] [nvarchar](max) NULL,
	[DomicileZip] [int] NULL,
	[BiologicalMother] [nvarchar](max) NULL,
	[MotherNIK] [nvarchar](max) NULL,
	[ReligionId] [int] NULL,
	[MobilePhone] [int] NULL,
	[HomePhoneNumber] [int] NULL,
	[Npwp] [nvarchar](max) NULL,
	[NoBpjsKs] [int] NULL,
	[NoBpjsTk] [int] NULL,
	[SipNo] [nvarchar](max) NULL,
	[SipFile] [nvarchar](max) NULL,
	[SipExp] [datetime2](7) NULL,
	[StrNo] [nvarchar](max) NULL,
	[StrFile] [nvarchar](max) NULL,
	[StrExp] [datetime2](7) NULL,
	[SpecialityId] [int] NULL,
	[UserPhoto] [nvarchar](max) NULL,
	[JobPositionId] [int] NULL,
	[DepartmentId] [int] NULL,
	[EmergencyName] [nvarchar](max) NULL,
	[EmergencyRelation] [nvarchar](max) NULL,
	[EmergencyEmail] [nvarchar](max) NULL,
	[EmergencyPhone] [int] NULL,
	[BloodType] [nvarchar](max) NULL,
	[DoctorCode] [nvarchar](max) NULL,
	[EmployeeCode] [nvarchar](max) NULL,
	[DegreeId] [int] NULL,
	[IsEmployee] [bit] NULL,
	[IsPatient] [bit] NULL,
	[IsUser] [bit] NULL,
	[IsDoctor] [bit] NULL,
	[EmployeeStatus] [nvarchar](max) NULL,
	[JoinDate] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsNurse] [bit] NULL,
	[IsPhysicion] [bit] NULL,
	[Legacy] [nvarchar](max) NULL,
	[NIP] [int] NOT NULL,
	[Oracle] [nvarchar](max) NULL,
	[SAP] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Villages]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Villages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[PostalCode] [nvarchar](10) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Villages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240117134249_InitialMigration', N'8.0.1')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240117144218_U1', N'8.0.1')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240119023343_AddCodeFieldSpeciality', N'8.0.1')
GO
SET IDENTITY_INSERT [dbo].[BuildingLocations] ON 

INSERT [dbo].[BuildingLocations] ([Id], [BuildingId], [LocationId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (36, 22, 2, NULL, CAST(N'2024-01-29T07:49:09.9025194' AS DateTime2), NULL, NULL)
INSERT [dbo].[BuildingLocations] ([Id], [BuildingId], [LocationId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (37, 22, 1, NULL, CAST(N'2024-01-29T07:49:09.9058736' AS DateTime2), NULL, NULL)
INSERT [dbo].[BuildingLocations] ([Id], [BuildingId], [LocationId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (38, 22, 4, NULL, CAST(N'2024-01-29T07:49:09.9060137' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[BuildingLocations] OFF
GO
SET IDENTITY_INSERT [dbo].[Buildings] ON 

INSERT [dbo].[Buildings] ([Id], [HealthCenterId], [Name], [Code], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (22, 3, N'General clinic ', N'', NULL, CAST(N'2024-01-29T07:49:09.6679621' AS DateTime2), NULL, NULL)
INSERT [dbo].[Buildings] ([Id], [HealthCenterId], [Name], [Code], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (23, 3, N'Villa Clinic', N'', NULL, CAST(N'2024-01-29T07:49:34.1266000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Buildings] ([Id], [HealthCenterId], [Name], [Code], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (24, 3, N'Mobile Clinic', N'', NULL, CAST(N'2024-01-29T07:49:20.6509586' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Buildings] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [ProvinceId], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (4, 3, N'Jakarta Selatan', NULL, CAST(N'2024-01-23T03:29:29.5930170' AS DateTime2), NULL, NULL)
INSERT [dbo].[Cities] ([Id], [ProvinceId], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (6, 3, N'Test', NULL, CAST(N'2024-01-29T02:48:44.4630507' AS DateTime2), NULL, NULL)
INSERT [dbo].[Cities] ([Id], [ProvinceId], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (7, 3, N'Haha', NULL, CAST(N'2024-01-29T02:48:51.8501747' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([Id], [CityId], [ProvinceId], [CountryId], [Name], [Phone], [Email], [Website], [VAT], [Street1], [Street2], [Zip], [CurrencyId], [Logo], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (4, 4, 3, 41, N'Matrica', N'1283712', N'matrica@mail.com', N'matrica', N'123', N'Jakarta', N'12345', N'12345', NULL, N'', NULL, CAST(N'2024-01-25T07:19:11.4987518' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [Name], [Code], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (41, N'Indonesia', N'001', NULL, CAST(N'2024-01-23T03:24:47.8773798' AS DateTime2), NULL, NULL)
INSERT [dbo].[Countries] ([Id], [Name], [Code], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (62, N'Iwan gaming gaga', N'123', NULL, CAST(N'2024-01-30T11:00:29.0940435' AS DateTime2), N'Argi Purwanto', CAST(N'2024-01-30T18:00:29.1515987' AS DateTime2))
INSERT [dbo].[Countries] ([Id], [Name], [Code], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (63, N'asjjj', N'ad', NULL, CAST(N'2024-01-30T11:01:22.2234843' AS DateTime2), N'Argi Purwanto', CAST(N'2024-01-30T18:01:22.2298414' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[CronisCategories] ON 

INSERT [dbo].[CronisCategories] ([Id], [Name], [Description], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'A00-A09: Penyakit menular bakterial', NULL, NULL, CAST(N'2024-01-26T09:26:40.5580884' AS DateTime2), NULL, NULL)
INSERT [dbo].[CronisCategories] ([Id], [Name], [Description], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (4, N'A15-A19: Penyakit menular protozoa', NULL, NULL, CAST(N'2024-01-26T09:27:04.6676962' AS DateTime2), NULL, NULL)
INSERT [dbo].[CronisCategories] ([Id], [Name], [Description], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (5, N'E00-E35: Penyakit endokrin', NULL, NULL, CAST(N'2024-01-26T09:27:29.9981985' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[CronisCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [CompanyId], [DepartmentCategory], [ParentId], [ParentName], [Manager]) VALUES (4, N'Perawat', NULL, CAST(N'2024-01-25T07:26:01.3116304' AS DateTime2), NULL, NULL, 4, N'A', NULL, NULL, NULL)
INSERT [dbo].[Departments] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [CompanyId], [DepartmentCategory], [ParentId], [ParentName], [Manager]) VALUES (5, N'IGD', NULL, CAST(N'2024-01-26T03:33:31.1156802' AS DateTime2), NULL, NULL, NULL, NULL, 4, N'Perawat', NULL)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Diagnoses] ON 

INSERT [dbo].[Diagnoses] ([Id], [Name], [Code], [DiseaseCategoryId], [CronisCategoryId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Cholera', N'A00', 9, 3, NULL, CAST(N'2024-01-26T10:57:29.0274190' AS DateTime2), NULL, NULL)
INSERT [dbo].[Diagnoses] ([Id], [Name], [Code], [DiseaseCategoryId], [CronisCategoryId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (4, N'Cholera due to Vibrio cholerae 01, biovar cholerae', N'A00.0', 11, 3, NULL, CAST(N'2024-01-26T10:55:01.2436367' AS DateTime2), NULL, NULL)
INSERT [dbo].[Diagnoses] ([Id], [Name], [Code], [DiseaseCategoryId], [CronisCategoryId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (5, N'Cholera due to Vibrio cholerae 01, biovar el tor', N'A00.1', NULL, 6, NULL, CAST(N'2024-01-26T11:00:35.4649344' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Diagnoses] OFF
GO
SET IDENTITY_INSERT [dbo].[DiseaseCategories] ON 

INSERT [dbo].[DiseaseCategories] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [ParentCategory]) VALUES (11, N'(A30-A49) Other bacterial diseases', NULL, CAST(N'2024-01-26T09:00:11.9415732' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[DiseaseCategories] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [ParentCategory]) VALUES (12, N'(A50-A64) Infections with a predominantly sexual mode of transmission', NULL, CAST(N'2024-01-26T09:00:28.0153106' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DiseaseCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([Id], [Name], [CityId], [ProvinceId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'Pasar Minggu', 4, 3, NULL, CAST(N'2024-01-23T03:29:51.7532757' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Districts] OFF
GO
SET IDENTITY_INSERT [dbo].[families] ON 

INSERT [dbo].[families] ([Id], [Name], [Relation], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Argi', N'Sibling', NULL, CAST(N'2024-01-29T08:33:37.5154257' AS DateTime2), NULL, NULL)
INSERT [dbo].[families] ([Id], [Name], [Relation], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'Ali', N'Parents', NULL, CAST(N'2024-01-29T08:33:45.9211291' AS DateTime2), NULL, NULL)
INSERT [dbo].[families] ([Id], [Name], [Relation], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Wahyu', N'Childer', NULL, CAST(N'2024-01-29T08:34:02.9993602' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[families] OFF
GO
SET IDENTITY_INSERT [dbo].[Genders] ON 

INSERT [dbo].[Genders] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Laki-Laki', NULL, CAST(N'2024-01-19T10:47:17.9821084' AS DateTime2), NULL, NULL)
INSERT [dbo].[Genders] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'Wanita', NULL, CAST(N'2024-01-19T10:47:21.0717401' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Genders] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupMenus] ON 

INSERT [dbo].[GroupMenus] ([Id], [GroupId], [MenuId], [Create], [Read], [Update], [Delete], [Import], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (4012, 34, 9, 1, 1, 1, 0, 0, NULL, CAST(N'2024-01-30T03:43:30.5790290' AS DateTime2), NULL, NULL)
INSERT [dbo].[GroupMenus] ([Id], [GroupId], [MenuId], [Create], [Read], [Update], [Delete], [Import], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (4013, 34, 1, 0, 0, 0, 0, 0, NULL, CAST(N'2024-01-30T03:43:30.6039975' AS DateTime2), NULL, NULL)
INSERT [dbo].[GroupMenus] ([Id], [GroupId], [MenuId], [Create], [Read], [Update], [Delete], [Import], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (4014, 34, 8, 0, 0, 0, 0, 0, NULL, CAST(N'2024-01-30T03:43:30.6049183' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[GroupMenus] OFF
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (33, N'Admin', NULL, CAST(N'2024-01-30T03:43:54.4202458' AS DateTime2), NULL, NULL)
INSERT [dbo].[Groups] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (34, N'Group Master data wilayah', NULL, CAST(N'2024-01-30T03:43:30.3373206' AS DateTime2), NULL, NULL)
INSERT [dbo].[Groups] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (36, N'Configuration', NULL, CAST(N'2024-01-30T08:36:34.0038391' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthCenters] ON 

INSERT [dbo].[HealthCenters] ([Id], [CityId], [ProvinceId], [CountryId], [Name], [Type], [Phone], [Mobile], [Email], [Street1], [Street2], [WebsiteLink], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, 4, 3, 41, N'Mc Dermott', N'McDermott', NULL, NULL, NULL, N'Jakarta', NULL, N'McDermott.com', NULL, CAST(N'2024-01-25T02:55:01.9486067' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[HealthCenters] OFF
GO
SET IDENTITY_INSERT [dbo].[Insurances] ON 

INSERT [dbo].[Insurances] ([Id], [Name], [Code], [Type], [IsBPJS], [AdminFee], [Presentase], [AdminFeeMax], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (11, N'AIA', N'', N'', 0, NULL, NULL, NULL, NULL, CAST(N'2024-01-26T06:41:43.4851670' AS DateTime2), NULL, NULL)
INSERT [dbo].[Insurances] ([Id], [Name], [Code], [Type], [IsBPJS], [AdminFee], [Presentase], [AdminFeeMax], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (13, N'Admedika', N'', N'', 0, NULL, NULL, NULL, NULL, CAST(N'2024-01-26T06:41:52.1710070' AS DateTime2), NULL, NULL)
INSERT [dbo].[Insurances] ([Id], [Name], [Code], [Type], [IsBPJS], [AdminFee], [Presentase], [AdminFeeMax], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (17, N'BPJS Kesehatan', N'', N'', 1, NULL, NULL, NULL, NULL, CAST(N'2024-01-26T06:42:03.2179300' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Insurances] OFF
GO
SET IDENTITY_INSERT [dbo].[JobPositions] ON 

INSERT [dbo].[JobPositions] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [DepartmentId]) VALUES (1, N'Test', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[JobPositions] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [DepartmentId]) VALUES (5, N'Perawat', NULL, CAST(N'2024-01-25T07:31:13.3544896' AS DateTime2), NULL, NULL, 4)
INSERT [dbo].[JobPositions] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [DepartmentId]) VALUES (7, N'Perawat IGD', NULL, CAST(N'2024-01-30T09:05:50.7136349' AS DateTime2), NULL, NULL, 5)
SET IDENTITY_INSERT [dbo].[JobPositions] OFF
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Type]) VALUES (1, N'Medical Warehouse', NULL, CAST(N'2024-01-29T07:29:15.8441284' AS DateTime2), NULL, NULL, N'Internal Location')
INSERT [dbo].[Locations] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Type]) VALUES (2, N'General Warehouse', NULL, CAST(N'2024-01-29T07:29:08.5689053' AS DateTime2), NULL, NULL, N'Internal Location')
INSERT [dbo].[Locations] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Type]) VALUES (4, N'General Clinic', NULL, CAST(N'2024-01-29T07:29:29.6507358' AS DateTime2), NULL, NULL, N'Internal Location')
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [Name], [Icon], [ParentMenu], [Sequence], [Html], [Url], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Configuration', N'<i class="fa-solid fa-gear nav-icon"></i>', NULL, 7, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Menus] ([Id], [Name], [Icon], [ParentMenu], [Sequence], [Html], [Url], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'User', NULL, N'Configuration', 1, NULL, N'config/user', NULL, CAST(N'2024-01-24T02:24:59.5090381' AS DateTime2), NULL, NULL)
INSERT [dbo].[Menus] ([Id], [Name], [Icon], [ParentMenu], [Sequence], [Html], [Url], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Group', NULL, N'Configuration', 2, NULL, N'config/group', NULL, CAST(N'2024-01-24T02:24:38.7660439' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[Occupationals] ON 

INSERT [dbo].[Occupationals] ([Id], [Name], [Description], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (9, N'Pelayar', N'', NULL, CAST(N'2024-01-19T09:38:20.3512023' AS DateTime2), NULL, NULL)
INSERT [dbo].[Occupationals] ([Id], [Name], [Description], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (10, N'Wiraswasta', N'', NULL, CAST(N'2024-01-19T10:48:29.3613600' AS DateTime2), NULL, NULL)
INSERT [dbo].[Occupationals] ([Id], [Name], [Description], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (11, N'ASN', N'', NULL, CAST(N'2024-01-19T10:51:03.5256107' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Occupationals] OFF
GO
SET IDENTITY_INSERT [dbo].[Procedures] ON 

INSERT [dbo].[Procedures] ([Id], [Name], [Code_Test], [Classification], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Therapeutic ultrasound of vessels of head and neck', N'00.01', N'Berat', NULL, CAST(N'2024-01-29T08:06:25.2933362' AS DateTime2), NULL, NULL)
INSERT [dbo].[Procedures] ([Id], [Name], [Code_Test], [Classification], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (5, N'Therapeutic ultrasound of heart', N'00.02', N'Ringan', NULL, CAST(N'2024-01-29T08:06:35.5185455' AS DateTime2), NULL, NULL)
INSERT [dbo].[Procedures] ([Id], [Name], [Code_Test], [Classification], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (6, N'Therapeutic ultrasound of peripheral vascular vessels', N'00.03', N'Sedang', NULL, CAST(N'2024-01-29T08:05:55.2016128' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Procedures] OFF
GO
SET IDENTITY_INSERT [dbo].[Provinces] ON 

INSERT [dbo].[Provinces] ([Id], [CountryId], [Name], [Code], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, 41, N'Jakarta', N'JK01', NULL, CAST(N'2024-01-23T03:29:12.5530139' AS DateTime2), NULL, NULL)
INSERT [dbo].[Provinces] ([Id], [CountryId], [Name], [Code], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (4, 41, N'Banten', N'BT', NULL, CAST(N'2024-01-24T02:50:06.0302251' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Provinces] OFF
GO
SET IDENTITY_INSERT [dbo].[Religions] ON 

INSERT [dbo].[Religions] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Islam', NULL, CAST(N'2024-01-18T10:53:04.6460568' AS DateTime2), NULL, NULL)
INSERT [dbo].[Religions] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'Kristen Katolik', NULL, CAST(N'2024-01-23T03:17:36.4671198' AS DateTime2), NULL, NULL)
INSERT [dbo].[Religions] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Kristen Protestan', NULL, CAST(N'2024-01-23T03:17:48.4650860' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Religions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'User')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Employee')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'Patient')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id], [Name], [Code], [Quota], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (7, N'Poli Umum', N'', N'', NULL, CAST(N'2024-01-26T03:40:44.6778574' AS DateTime2), NULL, NULL)
INSERT [dbo].[Services] ([Id], [Name], [Code], [Quota], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (8, N'Pharmacy', N'', N'', NULL, CAST(N'2024-01-26T04:23:08.9659869' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Specialities] ON 

INSERT [dbo].[Specialities] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Code]) VALUES (20, N'Dokter Anak', NULL, CAST(N'2024-01-19T07:14:39.8051370' AS DateTime2), NULL, NULL, N'')
INSERT [dbo].[Specialities] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Code]) VALUES (21, N'Dokter Gigi', NULL, CAST(N'2024-01-19T07:14:52.8465718' AS DateTime2), NULL, NULL, N'G001')
INSERT [dbo].[Specialities] ([Id], [Name], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Code]) VALUES (23, N'Dokter Kulit', NULL, CAST(N'2024-01-19T07:26:10.9773326' AS DateTime2), NULL, NULL, N'DK001')
SET IDENTITY_INSERT [dbo].[Specialities] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Villages] ON 

INSERT [dbo].[Villages] ([Id], [ProvinceId], [CityId], [DistrictId], [Name], [PostalCode], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, 3, 4, 2, N'Pejaten timur', N'001', NULL, CAST(N'2024-01-23T03:30:37.4660251' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Villages] OFF
GO
/****** Object:  Index [IX_BuildingLocations_BuildingId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_BuildingLocations_BuildingId] ON [dbo].[BuildingLocations]
(
	[BuildingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BuildingLocations_LocationId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_BuildingLocations_LocationId] ON [dbo].[BuildingLocations]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Buildings_HealthCenterId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Buildings_HealthCenterId] ON [dbo].[Buildings]
(
	[HealthCenterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Cities_Name]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Cities_Name] ON [dbo].[Cities]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cities_ProvinceId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Cities_ProvinceId] ON [dbo].[Cities]
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Companies_CityId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Companies_CityId] ON [dbo].[Companies]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Companies_CountryId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Companies_CountryId] ON [dbo].[Companies]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Companies_ProvinceId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Companies_ProvinceId] ON [dbo].[Companies]
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Countries_Name]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Countries_Name] ON [dbo].[Countries]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departments_CompanyId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Departments_CompanyId] ON [dbo].[Departments]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Diagnoses_CronisCategoryId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Diagnoses_CronisCategoryId] ON [dbo].[Diagnoses]
(
	[CronisCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Diagnoses_DiseaseCategoryId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Diagnoses_DiseaseCategoryId] ON [dbo].[Diagnoses]
(
	[DiseaseCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Districts_CityId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Districts_CityId] ON [dbo].[Districts]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Districts_ProvinceId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Districts_ProvinceId] ON [dbo].[Districts]
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Genders_Name]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Genders_Name] ON [dbo].[Genders]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupMenus_GroupId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_GroupMenus_GroupId] ON [dbo].[GroupMenus]
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupMenus_MenuId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_GroupMenus_MenuId] ON [dbo].[GroupMenus]
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Groups_Name]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Groups_Name] ON [dbo].[Groups]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HealthCenters_CityId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_HealthCenters_CityId] ON [dbo].[HealthCenters]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HealthCenters_CountryId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_HealthCenters_CountryId] ON [dbo].[HealthCenters]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HealthCenters_ProvinceId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_HealthCenters_ProvinceId] ON [dbo].[HealthCenters]
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobPositions_DepartmentId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_JobPositions_DepartmentId] ON [dbo].[JobPositions]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Menus_Name]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Menus_Name] ON [dbo].[Menus]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Provinces_CountryId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Provinces_CountryId] ON [dbo].[Provinces]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Provinces_Name]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Provinces_Name] ON [dbo].[Provinces]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Religions_Name]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Religions_Name] ON [dbo].[Religions]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_RolesId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RolesId] ON [dbo].[UserRoles]
(
	[RolesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_UserId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_UserId] ON [dbo].[UserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_DegreeId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Users_DegreeId] ON [dbo].[Users]
(
	[DegreeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_DepartmentId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Users_DepartmentId] ON [dbo].[Users]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_DomicileCityId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Users_DomicileCityId] ON [dbo].[Users]
(
	[DomicileCityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_DomicileCountryId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Users_DomicileCountryId] ON [dbo].[Users]
(
	[DomicileCountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_DomicileDistrictId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Users_DomicileDistrictId] ON [dbo].[Users]
(
	[DomicileDistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_DomicileProvinceId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Users_DomicileProvinceId] ON [dbo].[Users]
(
	[DomicileProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_DomicileVillageId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Users_DomicileVillageId] ON [dbo].[Users]
(
	[DomicileVillageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_GenderId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Users_GenderId] ON [dbo].[Users]
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_GroupId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Users_GroupId] ON [dbo].[Users]
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_IdCardCityId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Users_IdCardCityId] ON [dbo].[Users]
(
	[IdCardCityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_IdCardCountryId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Users_IdCardCountryId] ON [dbo].[Users]
(
	[IdCardCountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_IdCardDistrictId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Users_IdCardDistrictId] ON [dbo].[Users]
(
	[IdCardDistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_IdCardProvinceId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Users_IdCardProvinceId] ON [dbo].[Users]
(
	[IdCardProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_IdCardVillageId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Users_IdCardVillageId] ON [dbo].[Users]
(
	[IdCardVillageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_JobPositionId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Users_JobPositionId] ON [dbo].[Users]
(
	[JobPositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_ReligionId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Users_ReligionId] ON [dbo].[Users]
(
	[ReligionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_SpecialityId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Users_SpecialityId] ON [dbo].[Users]
(
	[SpecialityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_UserName]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_UserName] ON [dbo].[Users]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Villages_CityId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Villages_CityId] ON [dbo].[Villages]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Villages_DistrictId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Villages_DistrictId] ON [dbo].[Villages]
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Villages_Name]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Villages_Name] ON [dbo].[Villages]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Villages_ProvinceId]    Script Date: Wed, 31 Jan 2024 9:44:00 ******/
CREATE NONCLUSTERED INDEX [IX_Villages_ProvinceId] ON [dbo].[Villages]
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JobPositions] ADD  DEFAULT ((0)) FOR [DepartmentId]
GO
ALTER TABLE [dbo].[Locations] ADD  DEFAULT (N'') FOR [Type]
GO
ALTER TABLE [dbo].[Specialities] ADD  DEFAULT (N'') FOR [Code]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [NIP]
GO
ALTER TABLE [dbo].[BuildingLocations]  WITH CHECK ADD  CONSTRAINT [FK_BuildingLocations_Buildings_BuildingId] FOREIGN KEY([BuildingId])
REFERENCES [dbo].[Buildings] ([Id])
GO
ALTER TABLE [dbo].[BuildingLocations] CHECK CONSTRAINT [FK_BuildingLocations_Buildings_BuildingId]
GO
ALTER TABLE [dbo].[BuildingLocations]  WITH CHECK ADD  CONSTRAINT [FK_BuildingLocations_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[BuildingLocations] CHECK CONSTRAINT [FK_BuildingLocations_Locations_LocationId]
GO
ALTER TABLE [dbo].[Buildings]  WITH CHECK ADD  CONSTRAINT [FK_Buildings_HealthCenters_HealthCenterId] FOREIGN KEY([HealthCenterId])
REFERENCES [dbo].[HealthCenters] ([Id])
GO
ALTER TABLE [dbo].[Buildings] CHECK CONSTRAINT [FK_Buildings_HealthCenters_HealthCenterId]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Provinces_ProvinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([Id])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Provinces_ProvinceId]
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_Companies_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Companies] CHECK CONSTRAINT [FK_Companies_Cities_CityId]
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_Companies_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Companies] CHECK CONSTRAINT [FK_Companies_Countries_CountryId]
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_Companies_Provinces_ProvinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([Id])
GO
ALTER TABLE [dbo].[Companies] CHECK CONSTRAINT [FK_Companies_Provinces_ProvinceId]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([Id])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Companies_CompanyId]
GO
ALTER TABLE [dbo].[Diagnoses]  WITH CHECK ADD  CONSTRAINT [FK_Diagnoses_CronisCategories_CronisCategoryId] FOREIGN KEY([CronisCategoryId])
REFERENCES [dbo].[CronisCategories] ([Id])
GO
ALTER TABLE [dbo].[Diagnoses] CHECK CONSTRAINT [FK_Diagnoses_CronisCategories_CronisCategoryId]
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_Districts_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_Districts_Cities_CityId]
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_Districts_Provinces_ProvinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([Id])
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_Districts_Provinces_ProvinceId]
GO
ALTER TABLE [dbo].[GroupMenus]  WITH CHECK ADD  CONSTRAINT [FK_GroupMenus_Groups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
GO
ALTER TABLE [dbo].[GroupMenus] CHECK CONSTRAINT [FK_GroupMenus_Groups_GroupId]
GO
ALTER TABLE [dbo].[GroupMenus]  WITH CHECK ADD  CONSTRAINT [FK_GroupMenus_Menus_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menus] ([Id])
GO
ALTER TABLE [dbo].[GroupMenus] CHECK CONSTRAINT [FK_GroupMenus_Menus_MenuId]
GO
ALTER TABLE [dbo].[HealthCenters]  WITH CHECK ADD  CONSTRAINT [FK_HealthCenters_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[HealthCenters] CHECK CONSTRAINT [FK_HealthCenters_Cities_CityId]
GO
ALTER TABLE [dbo].[HealthCenters]  WITH CHECK ADD  CONSTRAINT [FK_HealthCenters_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[HealthCenters] CHECK CONSTRAINT [FK_HealthCenters_Countries_CountryId]
GO
ALTER TABLE [dbo].[HealthCenters]  WITH CHECK ADD  CONSTRAINT [FK_HealthCenters_Provinces_ProvinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([Id])
GO
ALTER TABLE [dbo].[HealthCenters] CHECK CONSTRAINT [FK_HealthCenters_Provinces_ProvinceId]
GO
ALTER TABLE [dbo].[Provinces]  WITH CHECK ADD  CONSTRAINT [FK_Provinces_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Provinces] CHECK CONSTRAINT [FK_Provinces_Countries_CountryId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RolesId] FOREIGN KEY([RolesId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RolesId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Cities_DomicileCityId] FOREIGN KEY([DomicileCityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Cities_DomicileCityId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Cities_IdCardCityId] FOREIGN KEY([IdCardCityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Cities_IdCardCityId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Countries_DomicileCountryId] FOREIGN KEY([DomicileCountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Countries_DomicileCountryId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Countries_IdCardCountryId] FOREIGN KEY([IdCardCountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Countries_IdCardCountryId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Degrees_DegreeId] FOREIGN KEY([DegreeId])
REFERENCES [dbo].[Degrees] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Degrees_DegreeId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Districts_DomicileDistrictId] FOREIGN KEY([DomicileDistrictId])
REFERENCES [dbo].[Districts] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Districts_DomicileDistrictId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Districts_IdCardDistrictId] FOREIGN KEY([IdCardDistrictId])
REFERENCES [dbo].[Districts] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Districts_IdCardDistrictId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Genders_GenderId] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Genders] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Genders_GenderId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Groups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Groups_GroupId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_JobPositions_JobPositionId] FOREIGN KEY([JobPositionId])
REFERENCES [dbo].[JobPositions] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_JobPositions_JobPositionId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Provinces_DomicileProvinceId] FOREIGN KEY([DomicileProvinceId])
REFERENCES [dbo].[Provinces] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Provinces_DomicileProvinceId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Provinces_IdCardProvinceId] FOREIGN KEY([IdCardProvinceId])
REFERENCES [dbo].[Provinces] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Provinces_IdCardProvinceId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Religions_ReligionId] FOREIGN KEY([ReligionId])
REFERENCES [dbo].[Religions] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Religions_ReligionId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Specialities_SpecialityId] FOREIGN KEY([SpecialityId])
REFERENCES [dbo].[Specialities] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Specialities_SpecialityId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Villages_DomicileVillageId] FOREIGN KEY([DomicileVillageId])
REFERENCES [dbo].[Villages] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Villages_DomicileVillageId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Villages_IdCardVillageId] FOREIGN KEY([IdCardVillageId])
REFERENCES [dbo].[Villages] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Villages_IdCardVillageId]
GO
ALTER TABLE [dbo].[Villages]  WITH CHECK ADD  CONSTRAINT [FK_Villages_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Villages] CHECK CONSTRAINT [FK_Villages_Cities_CityId]
GO
ALTER TABLE [dbo].[Villages]  WITH CHECK ADD  CONSTRAINT [FK_Villages_Districts_DistrictId] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([Id])
GO
ALTER TABLE [dbo].[Villages] CHECK CONSTRAINT [FK_Villages_Districts_DistrictId]
GO
ALTER TABLE [dbo].[Villages]  WITH CHECK ADD  CONSTRAINT [FK_Villages_Provinces_ProvinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([Id])
GO
ALTER TABLE [dbo].[Villages] CHECK CONSTRAINT [FK_Villages_Provinces_ProvinceId]
GO
USE [master]
GO
