@page "/config/gender"
@rendermode InteractiveServer

<PageTitle>McHealthCare - Gender</PageTitle>

@if (IsAccess)
{
    <div class="wrapper">

        <BaseHeaderPage Title="Gender" OnClickBack="@(async () => await LoadData())" ShowBackButton="false" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <DxLoadingPanel @bind-Visible="PanelVisible"
                                                IndicatorAnimationType="WaitIndicatorAnimationType.Pulse"
                                                IsContentBlocked="true"
                                                ApplyBackgroundShading="true"
                                                IndicatorAreaVisible="false"
                                                Text="Fetching Data...">
                                </DxLoadingPanel>
                                <MyGrid @ref="Grid"
                                        Data="Genders"
                                        KeyFieldName="Id"
                                        EditModelSaving="OnSave"
                                        DataItemDeleting="OnDelete">

                                    <Columns>
                                        <DxGridDataColumn FieldName="Name" SortIndex="0" />
                                        <DxGridCommandColumn MinWidth="200" Width="160px" />
                                    </Columns>
                                    <EditFormTemplate Context="EditFormContext">
                                        <DxFormLayout CssClass="w-100">
                                            <DxFormLayoutItem Caption="Name:" ColSpanMd="12">
                                                @EditFormContext.GetEditor("Name")
                                            </DxFormLayoutItem>
                                        </DxFormLayout>
                                    </EditFormTemplate>
                                </MyGrid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
else
{
    <LoadingIndicatorLayout />
}