@page "/clinic-service/accident/add"
@page "/clinic-service/accident/edit/{Id:long}"
@rendermode InteractiveServer

<PageTitle>@Helper.APP_NAME - @(Id == 0 ? "Add" : "Edit") Accident</PageTitle>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Accident</h1>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public long Id { get; set; }

    private string PageTitle = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
    }
}