@inherits LayoutComponentBase

            <div class="sidebar">
                    </div>
                    </div> *@

            </div>

            @Body
            </div>
        </footer>

        <aside class="control-sidebar control-sidebar-light">
        </aside>
    </div>
</div>